/*
  © Copyright 2021-2022  Istituto di Linguistica Computazionale "A. Zampolli", Consiglio Nazionale delle Ricerche, Pisa, Italy.
 
This file is part of EpiLexo.

EpiLexo is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

EpiLexo is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with EpiLexo. If not, see <https://www.gnu.org/licenses/>.
*/

<!-- <div id="epigraphy-accordion">
--> <div class="card">
        <div class="card-header" id="headingOne" style="text-align: right;">
            <ul class="nav nav-tabs" id="editDictTab" #navTabsEpigraphy role="tablist" [ngClass]="{'disabled': object === null}">
                <li class="nav-item">
                    <a class="nav-link" id="epigraphy-tab" data-toggle="tab" href="#epigraphy" role="tab" aria-controls="epigraphy" aria-selected="true">Epigraphy</a>
                </li>
                
                <h5 class="ml-auto mb-0">
                    <a class="btn btn-link w-100 d-flex align-self-center" (click)="triggerExpansionEpigraphy();" data-toggle="collapse" data-target="#epigraphy-dettaglio" aria-expanded="false" aria-controls="epigraphy-dettaglio">
                        <i class="fa ml-auto"></i>
                    </a>
                </h5>
            </ul>
            <!-- <h5 class="ml-auto mb-0">
                <a class="btn btn-link w-100 d-flex align-self-center" (click)="triggerExpansionEpigraphy();" data-toggle="collapse" data-target="#epigraphy-dettaglio" aria-expanded="true" aria-controls="epigraphy-dettaglio">
                    <i class="fa ml-auto"></i>
                </a>
            </h5> -->
            
        </div>
        <div id="epigraphy-dettaglio" class="collapse show" aria-labelledby="headingOne" > <!-- data-parent="#epigraphy-accordion" -->
            <div class="card-body">
                <div class="tab-content" id="myTabContent" #navContentEpigraphy>
                    <!--  <div class="tab-pane fade show active" id="epigraphy" role="tabpanel" aria-labelledby="epigraphy-tab">
                        <app-epigraphy-tab></app-epigraphy-tab>
                    </div> -->
                    <div class="tab-pane fade show active" id="epigraphy" role="tabpanel" aria-labelledby="epigraphy-tab">
                        <app-epigraphy-tab></app-epigraphy-tab>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->