<div class="card">
    <div class="card-header" id="metadataHeading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center collapsed" data-toggle="collapse"
                data-target="#metadataCollapse" aria-expanded="true" aria-controls="metadataCollapse">
                Metadata Panel<i class="fa ml-auto"></i>
            </a>
        </h5>
    </div>
    <!-- {{object | json}} -->
    <div id="metadataCollapse" class="collapse" aria-labelledby="metadataHeading">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="object != null">
                <li class="nav-item">
                    <a class="nav-link active" id="file-tab" data-toggle="tab" href="#file" role="tab"
                        aria-controls="file" aria-selected="true">File</a>
                </li>
                <li>
                    <a class="nav-link" id="text-tab" data-toggle="tab" href="#text_metadata" role="tab"
                        aria-controls="text_metadata" aria-selected="false">Epigraphy</a>
                </li>
                <li>
                    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other_metadata" role="tab"
                        aria-controls="other_metadata" aria-selected="false">Other</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent" *ngIf="object != null">
                <div class="tab-pane fade show active" id="file" role="tabpanel" aria-labelledby="file-tab">
                    <div class="card file_body">
                        <span class="text-id">FILE</span>
                        <!-- <a href="#a"><span class="edit-icon"><i class="fa fa-edit"></i></span></a>
                        <a href="#b"><span class="trash-icon"><i class="fa fa-trash"></i></span></a> -->
                        <div class="card-body">
                            <!-- <div class="d-flex">
                                <span class="badge badge-primary">Form</span>
                            </div> -->
                            <div class="d-flex">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Title:</th>
                                            <td>{{object.title != undefined ? object.title : 'no info'}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Id:</th>
                                            <td>{{object['element-id'] != undefined ? object['element-id'] : 'no info'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Editor:</th>
                                            <td>{{object.editor != undefined ? object.editor : 'no info'}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Path:</th>
                                            <td>{{object.path != undefined ? object.path : 'no info'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="text_metadata" role="tabpanel" aria-labelledby="text-tab">
                    <div class="card epi_body">
                        <span class="text-id">EPIGRAPHY</span>
                        <!-- <a href="#a"><span class="edit-icon"><i class="fa fa-edit"></i></span></a>
                        <a href="#b"><span class="trash-icon"><i class="fa fa-trash"></i></span></a> -->
                        <div class="card-body">
                            <!-- <div class="d-flex">
                                <span class="badge badge-primary">Form</span>
                            </div> -->

                            <div class="d-flex">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Trismegistos ID</th>
                                            <td><a target="_blank"
                                                    [href]="'//'+object?.trismegistos?.trismegistosID_url">
                                                    {{object?.trismegistos?.trismegistosID}}</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Other IDs:</th>
                                            <td>
                                                <p class="m-0" *ngFor="let other_id of object.traditionalIDs">
                                                    <a target="_blank" [href]="other_id.traditionalID_URL">
                                                        {{other_id.traditionalID}}
                                                    </a>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Original Place:</th>
                                            <td>
                                                <a *ngIf="object?.originalPlace?.ancientNameUrl != ''" target="_blank"
                                                    [href]="object?.originalPlace?.ancientNameUrl">
                                                    {{object?.originalPlace?.ancientName}}</a> <span
                                                    *ngIf="object?.originalPlace?.ancientNameUrl == ''">{{object?.originalPlace?.ancientName}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Settlement:</th>
                                            <td>
                                                <a *ngIf="object?.settlement?.placeOfConservationExternalReference != ''"
                                                    target="_blank"
                                                    [href]="object?.settlement?.placeOfConservationExternalReference">
                                                    {{object?.settlement?.placeOfConservation}}</a> <span
                                                    *ngIf="object?.settlement?.placeOfConservationExternalReference == ''">{{object?.settlement?.placeOfConservation}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Material:</th>
                                            <td>
                                                <a *ngIf="object?.support?.material_conceptUrl != ''" target="_blank"
                                                    [href]="object?.support?.material_conceptUrl">
                                                    {{object?.support?.material}}</a> <span
                                                    *ngIf="object?.support?.material_conceptUrl == ''">{{object?.support?.material}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Object Type:</th>
                                            <td>
                                                <a *ngIf="object?.support?.objectType_conceptUrl != ''" target="_blank"
                                                    [href]="object?.support?.objectType_conceptUrl">
                                                    {{object?.support?.objectType}}</a> <span
                                                    *ngIf="object?.support?.objectType_conceptUrl == ''">{{object?.support?.objectType}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="other_metadata" role="tabpanel" aria-labelledby="other-tab">
                    <div class="card epi_body">
                        <!-- <span class="text-id">EPIGRAPHY</span> -->
                        <!-- <a href="#a"><span class="edit-icon"><i class="fa fa-edit"></i></span></a>
                        <a href="#b"><span class="trash-icon"><i class="fa fa-trash"></i></span></a> -->
                        <div class="card-body">
                            <!-- <div class="d-flex">
                                <span class="badge badge-primary">Form</span>
                            </div> -->

                            <div class="d-flex">
                                <table class="table table-borderless text-break" style="table-layout: fixed;">
                                    <tbody>
                                        <tr style="width: 100%;" *ngFor="let subprop of object | keyvalue">
                                            <th style="width: 40%;" scope="row" *ngIf="subprop?.key != 'title' || 
                                                                   subprop?.key != 'element-id' ||
                                                                   subprop?.key != 'editor' ||
                                                                   subprop?.key != 'path' ||
                                                                   subprop?.key != 'trismegistos' ||
                                                                   subprop?.key != 'originalPlace' ||
                                                                   subprop?.key != 'settlement' ||
                                                                   subprop?.key != 'support'">{{subprop?.key}}</th>
                                            <td 
                                                *ngIf="subprop?.value != '' && !isObject(subprop?.value) && !isArray(subprop?.value)">
                                                {{subprop?.value}}</td>
                                            <div *ngIf="isObject(subprop?.value)">
                                                <table class="table table-borderless text-break"
                                                    style="table-layout: fixed;">
                                                    <tr style="width: 100%;" *ngFor="let object of subprop.value | keyvalue">
                                                        <th style="width: 40%;">{{object?.key}}</th>
                                                        <td style="width: 60%;" *ngIf="object?.value != ''">{{object?.value}}</td>
                                                        <td style="width: 60%;" *ngIf="object?.value == ''"><span class="font-italic">No info</span></td>
                                                    </tr>
                                                </table>
                                                <!--  <span  *ngFor="let object of subprop.value | keyvalue">
                                                    {{object?.key}} - {{object?.value}} <br>
                                                </span> -->
                                            </div>
                                            <div *ngIf="isArray(subprop?.value)">

                                            </div>
                                            <td  *ngIf="subprop?.value == ''"><span class="font-italic">No
                                                    info</span></td> <!-- style="word-break: keep-all; width: 65%;" -->
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>