/*
  © Copyright 2021-2022  Istituto di Linguistica Computazionale "A. Zampolli", Consiglio Nazionale delle Ricerche, Pisa, Italy.
 
This file is part of EpiLexo.

EpiLexo is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

EpiLexo is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with EpiLexo. If not, see <https://www.gnu.org/licenses/>.
*/

<div class="cover-container d-flex w-100 p-3 mx-auto flex-column text-center">

    <div class="starter-template">
        <h3>Institute for Computational Linguistics (ILC)</h3>
        <p class="lead">"A. Zampolli CNR - Pisa, Italy"<br> <a href="http://www.ilc.cnr.it" target="_blank">www.ilc.cnr.it</a></p>
        <img class="logo" src="../../../assets/images/LexOIcon.png" width="100"/>
        <h5 class="title">LexO-Angular v1.0</h5>
        
    </div>
    <footer class="mastfoot">
        <div class="inner">
          <p>Institute for Computational Linguistics "A. Zampolli", Pisa <br/> <a href="https://www.ilc.cnr.it.com/">http://ilc.cnr.it</a></p>
        </div>
    </footer>
</div>
